.Todo {
    display: flex;
    background: radial-gradient( green, black);
    flex-direction: column;
    flex-grow: 1;
    width: 75%;
    margin: 0 auto;
    border: 4px solid black;
    border-radius: 15px;
}

.add-todo-form label {
    color: white;
    text-align: center !important;
}

.add-todo-form input {
    border: none;
    border-radius: 0;
}

.add-todo-form input:focus, .todo-search-form input:focus {
    box-shadow: none;
}

.delete-todo:hover {
    color: red;
}

/* Search Form Styling */
.todo-label, .add-todo-label {
    position: absolute;
    left: -999999px ;
}