

a {
  text-decoration: none !important;
  color: green !important;
}

.text-green {
  color: green !important;
}

.bg-green {
  background-color: green !important;
}

.navbar a:hover {
  /* border-bottom: 1px solid green !important; */
  color: black !important;
}

.App {
  min-height: 100vh;  
}

.item input[type="checkbox"]:checked + label {
  text-decoration: line-through !important;
  outline: none !important;
  opacity: 0.4;
}

.item svg:focus,
.item svg:hover {
  color: red !important;
  outline: none;
}

/* Add Form styling */
.addForm label {
  position: absolute;
  left: -9999999px;
}

.form-control {
  border-radius: 2px !important;
  border: 1px solid gray !important;
}

.form-control input:focus {
  outline: none !important;
}

.addForm input:focus {
  outline: none;
  box-shadow: none;
}

.addForm button {
  color: green !important;
  background-color: transparent !important;
  border: 1px solid;
}

.addForm button:hover {
  background-color: green !important;
  color: whitesmoke !important;
}

/* Search Form Styling */
.searchForm label {
  position: absolute;
  left: -9999999px;
}

.searchForm input:focus {
  box-shadow: none;
  outline: none;
}


/* Footer Styling */
.sticky-footer {
  position: sticky;
  top: 100%;
}

.sticky-footer ul {
  list-style-type: none;
}

.sticky-footer h4 {
  color: green;
}

.sticky-footer h4:hover {
  color: green;
}

.sticky-footer a {
  margin-right: 100%;
}

.sticky-footer a:hover {
  color: black !important;
}


















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
