/* Add Form Styling */
.addItem {
    border-radius: 10px !important;
    margin-right: 15px !important;
}

.addBtn {
    border-radius: 7.5px !important;
}

.list-group-item input:focus {
    box-shadow: none;
}

.list-group-item input[type="checkbox"]:checked + label {
    text-decoration: line-through !important;
    outline: none !important;
    opacity: 0.4;
  }

.trash-icon {
    cursor: pointer;
}

.trash-icon:hover {
    color: red;
}

.trash-icon:focus {
    outline: none;
}

.empty-message {
    text-align: center;
    color: red;
    margin-top: 8rem;
}

/* Footer Styling */
.grocery-footer {
    position: sticky !important;
    top: 100vh !important;
    text-align: center;
}

