/* Add Form Styling */
.addItem {
    margin-right: 15px !important;
}

.addBtn {
    border-radius: 7.5px !important;
}

/* Content List styling */
.list-group-item input:focus {
    box-shadow: none;
}

.list-group-item input[type="checkbox"]:checked + label {
    text-decoration: line-through !important;
    outline: none !important;
    opacity: 0.4;
}

.form-check-input[type=checkbox]:checked {
    background-color: green !important;
}

.trash-icon {
    cursor: pointer;
}

.trash-icon:hover {
    color: red;
}

.trash-icon:focus {
    outline: none;
}

.empty-message {
    text-align: center;
    color: red;
    margin-top: 8rem;
}

.list-group-item, .addItem, .searchItem {
    border-radius: 10px !important;
}

/* Footer Styling */
.grocery-footer {
    padding-top: 50px ;
    text-align: center;
}

